{% extends "base.html" %}

{% block content %}
    <h1>Введите код с почты {{mail}}</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <span class="help-block">{{ message }}</span>
        <p>
        {{ form.code.label }}<br>
        {{ form.code(class="form-control") }}<br>
        {% for error in form.code.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
{% endblock %}