{% extends "base.html" %}

{% block content %}
{% for idea in ideas %}
<br>
<div class="container shadow-sm p-3 mb-5 bg-body rounded">
    <div class="col">
        <h1>Идея: {{idea.title}} --- Автор: {{ idea.user.name }}</h1>
        <p>{{ idea.created_date }}</p>
    </div>
    <div class="col">
        <p>{{ idea.content }}</p>
    </div>
    <div class="col">
        <div class="row-md-3"></div>
        <div class="row-md-6">
            <h6>Лайков: {{idea.likes}}</h6>
            {% if current_user.is_authenticated %}
            <a class="btn btn-success" href="/ideas_like/{{ idea.id }}">Понравилась</a>
            {% endif %}
        </div>
        {% if current_user.is_authenticated and current_user.is_admin %}
        <div class="col">
            <a class="btn btn-danger" href="/ideas_delete/{{ ideas.id }}">Удалить</a>
        </div>
        {% endif %}
        <br>
    </div>
</div>
{% endfor %}
{% endblock %}