{% extends "base.html" %}

{% block content %}
<script>
    function user_photo_input() {
        var but = document.getElementById("but")
        but.parentNode.removeChild(but);
        var dv = document.getElementById("us_photo")
        var input = document.createElement("input")
        var success = document.createElement("button")
        input.type = "file";
        input.name = "photo";
        input.class = "form-control-file";
        dv.appendChild(input);
        success.type = "success";
        success.className = "btn btn-primary";
        success.textContent = "Загрузить";
        success.value = "photo";
        success.name = "btn";
        dv.appendChild(success);
    }

    function edit_profile() {
        var name = document.getElementById("ed_name");
        name.removeAttribute("disabled");
        var email = document.getElementById("ed_email");
        email.removeAttribute("disabled");
        var phone = document.getElementById("ed_phone");
        phone.removeAttribute("disabled");
        var ed = document.getElementById("edit");
        var dv_ed = document.getElementById("edit_div");
        ed.parentNode.removeChild(ed);
        var edit = document.createElement("button");
        edit.textContent = "Сохранить";
        edit.className = "btn btn-outline-info";
        edit.type = "success"
        edit.name = "btn";
        edit.value = "edit";
        dv_ed.appendChild(edit);
    }
</script>
<form action="" method="post" enctype="multipart/form-data">
<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="{{ url_for('static', filename='img/users_pictures/' + current_user.picture) }}"
                                 alt="Admin"
                                 class="rounded-circle" width="150">
                                <div class="mt-3" id="us_photo">
                                    <h4>{{ current_user.name }}</h4>
                                    <button class="btn btn-outline-primary" id="but" onclick="user_photo_input()">
                                        Сменить фото профиля
                                    </button>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <img src="{{ url_for('static', filename='img/idea.jpg') }}" width="12%" class="rounded">
                            <h4 class="mb-0">
                                Количество Идей
                            </h4>
                            <span class="text-secondary"><i class="material-icons text-info mr-2">{{ current_user.ideas|length }}</i></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <img src="{{ url_for('static', filename='img/like.png') }}" width="9%" class="rounded">
                            <h6 class="mb-0">
                                Количество оставленных лайков
                            </h6>
                            <span class="text-secondary"><i class="material-icons text-info mr-2">{{ current_user.ideas|length }}</i></span>
                        </li>
                    </ul>
                </div>
                {% if current_user.ideas|length > 2 %}
                <div class="card mt-3">
                    <br>
                    <h3 class="mb-0" align="center"><a class="btn btn-outline-dark" href="#">Посмотреть все ваши
                        идеи</a></h3>
                    <br>
                </div>
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">ФИО</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input class="form-control" value="{{ current_user.name }}" disabled id="ed_name" name="ed_name">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Почта</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="email" class="form-control" value="{{ current_user.email }}" disabled id="ed_email" name="ed_email">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Номер телефона</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {% if current_user.phone_number %}
                                <input class="form-control" value="{{ current_user.phone_number }}" disabled id="ed_phone" name="ed_phone">
                                {% else %}
                                <input class="form-control" value="Вы можете оставить свой номер телефона" disabled id="ed_phone" name="ed_phone">
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12" id="edit_div">
                                <button class="btn btn-info" id="edit" onclick="edit_profile()">Изменить</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% if current_user.ideas %}
                <div class="row gutters-sm">
                    {% for i in range(0, 2 if current_user.ideas|length >= 2 else current_user.ideas|length) %}
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3"><i
                                        class="material-icons text-info mr-2">Идея</i>{{current_user.ideas[i].title}}
                                </h6>
                                <hr>
                                <small>Создана: {{ current_user.ideas[i].created_date.date() }}</small><br>
                                <hr>
                                <small>Идеа: {{ current_user.ideas[i].content }}</small><br>
                                <hr>
                                <small>Лайки: {{ current_user.ideas[i].likes }}</small>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% if current_user.ideas|length == 1 %}
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body" align="center"><br>
                                <h4>Оставьте ещё идею</h4>
                                <a class="btn btn-info text-white" href="/ideas">Оставьте идею</a>
                            </div>
                        </div>
                        <br>
                    </div>
                    {% endif %}
                </div>
                {% else %}
                <div class="row gutters-sm">
                    <div class="col-sm-12 mb-3">
                        <div class="card h-100">
                            <div class="card-body" align="center"><br>
                                <h4>Вы ещё не оставляли идей </h4>
                                <a class="btn btn-primary text-white" href="/ideas">Оставьте идею</a>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</form>
{% endblock %}